.tiles article:nth-child(6n - 5):before {
    background-color:  rgb(48, 48, 48,0.36);
}

.tiles article:nth-child(6n - 4):before {
    background-color:  rgb(48, 48, 48,0.36);
}

.tiles article:nth-child(6n - 3):before {
    background-color:  rgb(48, 48, 48,0.36);
}

.tiles article:nth-child(6n - 2):before {
    background-color:  rgb(48, 48, 48,0.36);
}

.tiles article:nth-child(6n - 1):before {
    background-color:  rgb(48, 48, 48,0.36);
}

.tiles article:nth-child(6n):before {
    background-color: rgb(48, 48, 48,0.36);
}